/* VARIABLES */
:root {
  /* --main-color: #048BA8;
  --orange: #F18F01;  */
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
}
  
body {
  font-family: sans-serif;
}

.hide {
    display: none;
}


/* No styles for lists, bullets, menus */
ol, ul, menu {
    list-style: none;
}

/* GLOBAL CLASSES */
.text-center {
  text-align: center;
}

.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

/* CUSTOM STYLES */

.grid {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 70px minmax(160px, auto) auto;
    grid-template-areas:
      'header header'
      'leftaside main'
      'footer footer';
    column-gap: 10px;
    height: 100%;
}
  
.page-header {
    grid-area: header;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}